<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Triple Triad PoC"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <!-- The AS3 original is landscape/fullScreen (application.xml: aspectRatio
             landscape, fullScreen true), so the PoC matches it. -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
